.header{
    background-color: rgb(98, 136, 218);
    padding:20px;
    font-weight: bold;
}
.header h1{
    font-weight: bold;
}

/* study the nav css  */

.nav{
    background-color: rgb(88, 91, 122);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.nav ul{
    padding:0;
    list-style: none;
    display: flex;
}

.nav li{
    padding:0 5px;
}

.nav a{
    color:rgb(0, 0, 0);
    justify-content: space-between;
    text-decoration: none;
    padding:25px;
    padding-left: 40px;
    padding-right:40px;
    font-size: 16px;
}
.main_header{
    text-align: right;
}

.nav a.active{
    font-weight: bold;
}

.nav a:hover{
    background-color: rgb(48, 49, 73);
}

#my_name{
    text-align: right; 
    margin-right: 20px; 
    font-weight: bold;
}

