.header{
    background-color:  #1c1347;
    padding:20px;
    font-weight: bold;
}
.header h1 , .header{
    font-weight: bold;
    color:#a2990a !important;
}

/* study the nav css  */

.nav{
    background-color: #0d0936;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.nav ul{
    padding:0;
    list-style: none;
    display: flex;
}

.nav li{
    padding:0 2px;
    color: #0ab2db;
}

.nav a{
    color:#0ab2db;
    justify-content: space-between;
    text-decoration: none;
    padding:25px;
    padding-left: 25px;
    padding-right:25px;
    font-size: 16px;
}
.main_header{
    text-align: right;
}

.nav a.active{
    font-weight: bold;
}

.nav a:hover{
    background-color: #25385a;
}

#page_title{
    text-align: right; 
    margin-right: 20px; 
    font-weight: bold;
    color: #901aa4 !important; 
}

h5,h4,h3,li{
    color: #ffffff !important;
}

h1,h2{
    color:#05a7d5 !important;


}

/*#d8188a



*/
