.header{
    background-color:  #98c1d9 ;
    padding:20px;
    font-weight: bold;
}
.header h1{
    font-weight: bold;
}

/* study the nav css  */

.nav{
    background-color: #3d5a80;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.nav ul{
    padding:0;
    list-style: none;
    display: flex;
}

.nav li{
    padding:0 5px;
}

.nav a{
    color:rgb(0, 0, 0);
    justify-content: space-between;
    text-decoration: none;
    padding:25px;
    padding-left: 40px;
    padding-right:40px;
    font-size: 16px;
}
.main_header{
    text-align: right;
}

.nav a.active{
    font-weight: bold;
}

.nav a:hover{
    background-color: #25385a;
}

#my_name{
    text-align: right; 
    margin-right: 20px; 
    font-weight: bold;
}

body {
    background-color: #ee6c4d; /* White */
    color: #811919; 
    font-family: Arial, sans-serif; /* Example font */
    line-height: 1.6; /* Line height for readability */
  }